<div class="article-header article-background">
  <div class="row top">
    <div class="large-12 columns text-center banner-title-block">
      <h1>
        News
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="overflow-hidden row">
      <%= render @articles %>
    </div>
    <%= paginate @articles %>
  </div>
</div>
