<div class="w-container free-internet-container" data-ix="show-up">
  <h1 class="green-highlight centred"><span class="free">Free</span> Internet Marketing Assessment</h1>
  <div class="w-row assessment-form-row">
    <div class="w-col w-col-6">
      <div class="paragraph-white">We specialise in Internet Marketing for law firms. We are offering a free assessment of your existing website and internet marketing to show you how you can maximise your conversion rates.
        <br>
        <br> One of team of experts will have review your website and offer suggestions on</div>
      <ul class="list white">
        <li>Lead Conversion</li>
        <li>Landing Pages</li>
        <li>Lead generation forms</li>
        <li>Content structure</li>
        <li>Website performance</li>
        <li class="green-highlight">And more…</li>
      </ul>
      <div class="paragraph-white">If you'd like this free assessment, please fill out the form and one of our experts will contact you shortly.</div>
    </div>
    <div class="w-col w-col-6">
      <h6 class="white-centred">I would like a free
Assessment</h6>
      <div class="w-form">
        <%= render 'shared/flash_messages' %>
        <%= render 'marketing_assessment_signups/form' %>
      </div>
    </div>
  </div>
</div>
