<div class="w-container free-internet-container no-offset" data-ix="show-up">
  <div class="w-row">
    <div class="w-col w-col-4"><%= image_tag 'academy/internet-marketing-review-cover.png' %><%= image_tag "academy/quotation-mark.png", width: "60" %>
      <p class="quote-copy">With conversion rate optimisation the website Increased conversion rates by <span class="white-highlight">100% within the first week.</span>”</p>
    </div>
    <div class="w-col w-col-8">
      <div class="_5000">£5,000</div>
      <h1 class="centred white"><span class="free">FREE</span> Internet Marketing Assessment</h1>
      <h3 class="white">More than a review</h3>
      <p class="p1">We specialise in Internet Marketing for law firms. We are offering a free assessment of your existing website and internet marketing to show you how you can maximise your conversion rates.</p>
      <div class="paragraph-white">One of our team of experts will review your website and offer suggestions on:</div>
      <ul class="list white">
        <li>Lead Conversion</li>
        <li>Landing Pages</li>
        <li>Lead generation forms</li>
        <li>Content structure</li>
        <li>Website performance</li>
        <li class="green-highlight">And more…</li>
      </ul>
      <a class="button-light centred" href="http://www.optimisedlaw.co.uk/audit">Find our more</a>
    </div>
  </div>
</div>
